<!--removeIf(pymframe)-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>speedy-tree</title>
  <link rel="icon" type="image/png" href="//media.philly.com/designimages/favicon-32x32.png">

  <!--removeIf(tmp)-->
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7722894/765348/css/fonts.css" />
  <script type="text/javascript" src="http://media.philly.com/storage/inquirer/script/pym.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var pymChild = new pym.Child();
      pym.Child({ polling: 100 });
      pymChild.sendHeight();
    //   var t = setTimeout(function() {
    //     pymChild.sendHeight();
    //     console.log("pym Started")
    //   }, 2000);
    }, false);
  </script>
  <!--endRemoveIf(tmp)-->
</head>

<body>
  <!--endRemoveIf(pymframe)-->

  {% include "partials/stylesheets.html" %}
  <!--removeIf(tmp)-->

  <style>
    body,
    html {
      width: auto;
      height: auto;
      /*display: inline-block;*/
    }
  </style>
  <!--endRemoveIf(tmp)-->


  <!--build:css styles.min.css-->
  <link rel="stylesheet" href="css/styles.css">
  <!--endbuild-->

  {% include "main-body.html" ignore missing %} {% include "partials/script-links.html" %}

  <!--build:js main.min.js -->
  <script src="js/main.js"></script>
  <!-- endbuild -->

  <!--removeIf(pymframe)-->
</body>

</html>
<!--endRemoveIf(pymframe)-->
